<header class="main">
  <h1>{{this.model.title}}</h1>
  <hr />
</header>
<main class="links">
  {{#if this.model.partial}}
    {{component (concat "resource-desc/" this.model.partial)}}
  {{else}}
    <p>{{this.model.description}}</p>
  {{/if}}
  <TrackedLink @url={{this.model.url}} @title={{this.model.cta}} />
</main>